$inaltime-meniu: 3rem;

body {
  --inaltime-meniu: #{$inaltime-meniu};
}

nav {
  $inaltime-meniu-nav: 2.5em;
  $latime-buton: 150px;
  --latime-buton: #{$latime-buton};
  height: var(--inaltime-meniu);
  background-color: var(--culoare-deschisa);
}

#hamburger,
#ch-menu {
  display: none;
}

#hamburger img {
  height: 100%;
  width: auto;
}

#acasa-mediu {
  display: none;
}

.meniu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--culoare-deschisa);

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: var(--culoare-deschisa);
  }

  li {
    border: 1px solid var(--culoare-inchisa);
    width: var(--latime-buton);
    height: var(--inaltime-meniu);
    box-sizing: border-box;

    div,
    a {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      line-height: var(--inaltime-meniu);
      color: var(--culoare-text);
      text-decoration: none;
      box-sizing: border-box;
      text-align: center;
      transition: all 1s linear;

      &:hover .sageata {
        opacity: 1;
        transform: translate(0);
      }
    }

    div {
      text-align: center;
    }

    a {
      .sageata {
        display: inline-block;
        opacity: 0;
        transform: translateX(-30px);
        transition: opacity 0.2s 0.2s, transform 1s;
      }

      &:hover .sageata {
        opacity: 1;
        transform: translate(0);
      }
    }

    &:hover {
      div,
      a {
        background-color: var(--culoare-inchisa);
        color: var(--culoare-text-selectat);
      }

      div {
        box-shadow: inset 0 0 20px var(--culoare-text-selectat);
      }

      a {
        div {
          background-color: var(--culoare-inchisa);
          color: var(--culoare-text-selectat);
          box-shadow: inset 0 0 20px var(--culoare-text-selectat);
        }
      }

      ul {
        display: block;
        position: absolute;
        z-index: 100;
        animation: animatie_submeniu 0.75s linear 1 forwards;
        transform-origin: top;
      }
    }
  }

  ul {
    display: none;
    opacity: 0;
    transform: scaleY(0);
  }
}

@keyframes animatie_submeniu {
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
