<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Magazin TeleX. Modele televizoare. Produse resigilate verificate. Returnarea produselor. Garantie 2 ani. Montarea gratis.">
        <meta name="keywords" content="televizor, Samsung, Philips, Bucuresti, lungime diagonala, transport prin curier, TeleX">
       
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>Cofetăria Dulcelind - înregistrare </title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
    Ai fost delogat!
</main>

<footer>
    <%- include('../fragmente/footer') %>
</footer>

</body>
</html>