body {
  --culoare1: #E87909;
  --culoare-inchisa: #d92d0a;
  --culoare-deschisa: #f6be06;
  --culoare-background: #ebff0a;
  --culoare-portocaliu-deschis: #eebf03;
  --culoare-rosu-deschis: #fd9b9b;
  --culoare-text: black;
  --culoare-text-selectat: white;
  --spatiere: 100px;
  padding-left: var(--spatiere);
  padding-right: var(--spatiere);
  background-image: url('../imagini/light.jpg'); /* Înlocuiți 'calea-catrea-imagine.jpg' cu calea către imaginea de fundal dorită */
  background-size: cover; /* Asigură că imaginea acoperă întreaga suprafață a ecranului */
  background-position: center; /* Centrează imaginea pe ecran */
  background-repeat: no-repeat
}

body.dark {
  --culoare1: #a15329;
  --culoare-inchisa: #ab4e26;
  --culoare-deschisa: #4a2812;
  --culoare-background: #514f4f;
  --culoare-portocaliu-deschis: #7d5f17;
  --culoare-rosu-deschis: #8b3f3f;
  --culoare-text: white;
  --culoare-text-selectat: black;
  --spatiere: 100px;
  background-image: url('../imagini/dark.jpg'); /* Înlocuiți 'calea-catrea-imagine.jpg' cu calea către imaginea de fundal dorită */
  background-size: cover; /* Asigură că imaginea acoperă întreaga suprafață a ecranului */
  background-position: center; /* Centrează imaginea pe ecran */
  background-repeat: no-repeat;
  padding-left: var(--spatiere);
  padding-right: var(--spatiere);
}

#link-top {
    position:fixed;
    bottom:3em;
    opacity:0.5;
    left:0.3em;
    width:3rem;
    box-sizing: border-box;
    height:3rem;
    line-height:3rem;
    text-align:center;
    border:3px dashed var(--culoare1);
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--culoare-inchisa), var(--culoare-background), var(--culoare-inchisa));
    box-shadow:0px 0px 5px 5px inset var(--culoare-portocaliu-deschis);
    transition: transform 0.45s ease;
}

#link-top:hover {
  opacity: 1;
  transform: rotate(90deg);
}

#arrow {
  color: var(--culoare-inchisa);
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.45s ease;
}

#link-top:hover>#arrow {
  transform: translate(-50%, -50%) rotate(-90deg) translateY(0);
}

#arrow .tooltiptext {
  border: 2px solid var(--culoare1);
  font-size: 15px;
  visibility: hidden;
  width: 80px;
  top: 100%;
  margin-left: -30px;
  background-color: var(--culoare-background);
  color: var(--culoare-text);
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

#link-top:hover>#arrow .tooltiptext {
  visibility: visible;
}

#tab-orar th,
#tab-orar td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

#tab-orar thead th {
  border-width: 2px;
}

#tab-orar {
  border-spacing: 0px;
  border-collapse: collapse;
}

#tab-orar tbody tr:nth-child(even) {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--culoare-portocaliu-deschis);
  transition: background-color 0.75s, font-size 0.75s;
}

#tab-orar tbody tr:nth-child(odd) {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  color: var(--culoare-rosu-deschis);
  transition: background-color 0.75s, font-size 0.75s;
}

#tab-orar tbody tr:hover {
  background-color: var(--culoare-background);
  font-size: 120%;
}

.container {
  overflow-x: auto;
}

caption {
  text-align: center;
  caption-side: bottom;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
    overflow-x: auto;
  }
}

.container-iframe {
  display: flex;
  width: 55%;
}

.container-iframe iframe {
  width: 100%;
  border-top: 3px solid var(--culoare-inchisa);
  border-left: 3px solid var(--culoare-inchisa);
  border-right: 3px solid var(--culoare1);
  border-bottom: 3px solid var(--culoare1);
}

.taburi-iframe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.taburi-iframe>a {
  display: block;
  color: var(--culoare-text);
  border: 4px solid var(--culoare-inchisa);
  background-color: var(--culoare-background);
  margin-bottom: 0.2em;
  border-radius: 10px 0 0 10px;
  transition: background-color 1.25s;
  box-shadow: inset 10px 0 0 var(--culoare1);
}

.taburi-iframe>a:hover {
  background-color: var(--culoare1);
  color: var(--culoare-text-selectat);
  box-shadow: inset 10px 0 0 var(--culoare1);
}

a[href^="http"]::before {
  content: "⮳ "; 
  font-size: 1.5em; 
}

/* Reflexie text */

#text{
  transform: skew( 5deg ,-30deg);
}

#text, #text-reflectat {
  color:var(--culoare1);
  font-family: Arial, sans-serif;
  font-size: 30px;
  display: inline-block;
  transition: color 1s ease; 
}

#text-reflectat {
  transform: scaleX(-1) skew(5deg ,-30deg);
  margin-left: 15px;
}

.container-text-reflexie:hover #text, .container-text-reflexie:hover #text-reflectat {
  color: var(--culoare-inchisa); 
}

.container-text-reflexie {
  margin-bottom: 30px;
  margin-top: 40px;
}

/* Reflexie text */

/* Imagine Duotone*/

.container-duotone {
  width: 500px;
  height: 395px;
  overflow: hidden; /* Ascunde ceea ce depășește limitele containerului */
}

#imagine-duotone{
	position:relative;
	background-image:url("/resurse/imagini/rsz_1reducere.png");
	background-size:cover;
	width:500px; 
	height:395px;
}

#imagine-duotone::before,
#imagine-duotone::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#imagine-duotone::before {
  background-color: red; /* Culoarea 1 pentru duotone */
  mix-blend-mode: lighten; /* Aplică modul de amestec pentru efectul duotone */
  z-index: 1; /* Asigură că este deasupra imaginii */
  transition: all 1.5s linear; /* Adaugă o tranziție lină */
  transform: translateX(-100%);
}

#imagine-duotone::after {
  background-color: blue; /* Culoarea 2 pentru duotone */
  mix-blend-mode: lighten; /* Aplică modul de amestec pentru efectul duotone */
  z-index: 1; /* Asigură că este deasupra imaginii */
  transition: all 1.5s linear; /* Adaugă o tranziție lină */
  transform: translateX(100%);
}

#imagine-duotone:hover::before,
#imagine-duotone:hover::after {
  transform: translateX(0); /* Adaugă o tranziție la poziția inițială la hover */
}

/* Imagine Duotone*/

/* Text scrolling */

.text-scrolling-container {
  overflow: hidden; /* Ascunde textul care iese din container */
}

.text-scrolling {
  white-space: nowrap; /* Textul nu va fi împărțit pe linii */
  animation: scroll-right 10s linear infinite; /* Folosește animația pentru mișcare la dreapta */
  /* Pentru mișcare verticală: animation: scroll-up 10s linear infinite; */
}

@keyframes scroll-right {
  0% {
    transform: translateX(100%); /* Textul va fi complet la dreapta la început */
  }
  100% {
    transform: translateX(-100%); /* Textul va fi complet la stânga la sfârșit */
  }
}

/* Text scrolling */
