nav{
    --inaltime-meniu:2.2em;
    --latime-buton:120px;
}

#acasa-mediu{
    display: block;
}

#acasa{
    display: none;
}

.meniu li:hover>div{
    box-shadow: inset 0 0 20px var(--culoare-text-selectat);
}   