h2 {
    padding: 0.4rem;
}

#art-produs {
    margin: 0 auto;
    width: 70%;
    max-width: 700px;
    background-color: var(--cl-light-t);
    box-shadow: 0px 0px 10px 5px grey;
    padding: 0.4rem;
}

#art-produs p {
    margin: 0;
    padding: 0.4rem;
    font-weight: bold;
    font-size: 1.1rem;
}

#art-produs p span {
    font-weight: normal;
}

/*
#art-produs p:nth-of-type(even) {
    background-color:green;
}

#art-produs p:nth-of-type(odd) {
    background-color: var(--cl-marcare);
} 
    */

.imag-produs {
    text-align: center;
}

.imag-produs img {
    width: 50%;
    height: auto;
}

@media screen and (max-width: 700px) {
    #art-produs {
        margin: 0 auto;
        width: 95%;
    }
}

/* Stiluri pentru secțiunea de produse similare */
#produse-similare {
    margin-top: 2rem;
}

.grid-produse {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.grid-produse .produs {
    flex: 1 1 calc(33.33% - 1rem);
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    border-radius: 2rem;
    box-shadow: 0px 0px 0.8rem 0.3rem grey;
    overflow: hidden;
}

.grid-produse .produs h3 {
    text-align: center;
    margin: 0;
    padding: 0.5rem;
}

.grid-produse .produs h3 a {
    color: black;
    text-decoration: none;
}

.grid-produse .produs h3 a:hover {
    color: white;
}

.grid-produse .produs figure {
    text-align: center;
    margin: 0;
}

.grid-produse .produs figure img {
    border: 1px solid grey;
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 300px;
    object-fit: cover;
}

.grid-produse .produs .info-prod {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.grid-produse .produs .info-prod p {
    margin: 0.5rem 0;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .grid-produse .produs {
        flex: 1 1 calc(50% - 1rem);
    }

    .grid-produse .produs figure img {
        max-width: 150px;
        max-height: 100px;
    }
}

@media (max-width: 768px) {
    .grid-produse .produs {
        flex: 1 1 calc(100% - 1rem);
    }

    .grid-produse .produs figure img {
        max-width: 120px;
        max-height: 90px;
    }
}

@media (max-width: 480px) {
    .grid-produse .produs {
        flex: 1 1 calc(100% - 1rem);
    }

    .grid-produse .produs figure img {
        max-width: 100px;
        max-height: 75px;
    }
}
