 <footer>
            <p>
                <i class="fa-solid fa-envelope"></i> <a href="mailto:magazin:telex@gmail.com">Mail Magazin TeleX</a><br>
                <i class="fa-solid fa-phone fa-shake"></i></i> <a href="tel:+4071234567">Telefon Magazin TeleX</a><br>
                <i class="fa-solid fa-location-dot"></i> 
                <a href="https://www.google.com/maps/@44.4352068,26.0207639,20.73z?entry=ttu" target="_blank">Locatie
                    magazin</a> <br>
                Strada televizoarelor, nr. 3, Bucuresti, sector 6, Romania<br>
            </p>
            <i class="fa-brands fa-whatsapp" style="color: #63E6BE;"></i> 
            <a href="https://api.whatsapp.com/send?phone=15551234567">Trimite mesaj pe whatsapp</a>
            <a href="#" id="link-top" class="tooltip">
                <div id="arrow">
                    <span>&#8593;</span>
                    <div class="tooltiptext">Mergi sus</div>
                </div>
            </a>
            <p><small>Copyright &copy; <time datetime="2012-10-18T05:50:34.123+03:00">4 Martie 2024</time></small></p>
            <p>Acesta este un proiect școlar!</p>
        </footer>