<script src="/resurse/js/tema.js"></script>
<header class="c1" id="h1">
        <h1>Magazin <span>TeleX</span></h1>
        <button id="schimba_tema">Schimba tema</button>

    </header>
    <nav>

        <label id="hamburger" for="ch-menu">
            <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li>
                <div id="acasa"><span class="fas fa-regular fa-house"></span>Acasa</div>
                <div id="acasa-mediu"><span class="fa-solid fa-house-chimney"></span></div>
                <ul>
                    <li><a href="/index#welcome"><span class="sageata">&#8594;</span>Bine ati venit</a></li>
                    <li><a href="/index#promotii"><span class="sageata">&#8594;</span>Promotii</a></li>
                    <li><a href="/index#anunturi"><span class="sageata">&#8594;</span>Anunturi</a></li>
                    <li><a href="/index#orar"><span class="sageata">&#8594;</span>Orar</a></li>
                    <li><a href="/index#index-intrebari"><span class="sageata">&#8594;</span>Întrebări</a></li>
                    <li><a href="/index#modele"><span class="sageata">&#8594;</span>Modele</a></li>
                </ul>

            </li>
            <li><a href="#">
                    <div>Inregistrare</div>
                </a></li>
            <li>
                <div>Despre</div>
                <ul>
                    <li><a href="despre.html#prezentare"><span class="sageata">&#8594;</span>Prezentare</a></li>
                    <li><a href="despre.html#istoric"><span class="sageata">&#8594;</span>Istoric</a></li>
                    <li><a href="despre.html#motivatie"><span class="sageata">&#8594;</span>Motivatie</a></li>
                    <li><a href="despre.html#galerie"><span class="sageata">&#8594;</span>Galerie</a></li>
                </ul>
            </li>
            <li>
                <div>Produse</div>
            </li>
            <li><a href="#">
                    <div>Contact</div>
                </a></li>
        </ul>
    </nav>