<script src="/resurse/js/tema.js"></script>
<header class="c1" id="h1">
    <h1>Magazin <span>TeleX</span></h1>
    <label class="switch">
        <input type="checkbox" id="schimba_tema">
        <span class="slider round"></span>
    </label>
    <span id="theme-icon" style="margin-left: 10px;"></span>
</header>

    </header>
    <nav>

        <label id="hamburger" for="ch-menu">
            <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li>
                <div id="acasa"><span class="fas fa-regular fa-house"></span>Acasa</div>
                <div id="acasa-mediu"><span class="fa-solid fa-house-chimney"></span></div>
                <ul>
                    <li><a href="/index#welcome"><span class="sageata">&#8594;</span>Bine ati venit</a></li>
                    <li><a href="/index#promotii"><span class="sageata">&#8594;</span>Promotii</a></li>
                    <li><a href="/index#anunturi"><span class="sageata">&#8594;</span>Anunturi</a></li>
                    <li><a href="/index#orar"><span class="sageata">&#8594;</span>Orar</a></li>
                    <li><a href="/index#index-intrebari"><span class="sageata">&#8594;</span>Întrebări</a></li>
                    <li><a href="/index#modele"><span class="sageata">&#8594;</span>Modele</a></li>
                </ul>

            </li>
            <li><a href="/inregistrare">
                <div>Inregistrare</div>
            </a></li>
            <li>
                <a href="#">Despre</a>
                <ul>
                    <li><a href="/despre#prezentare"><span class="sageata">&#8594;</span> Prezentare</a></li>
                    <li><a href="/despre#istoric"><span class="sageata">&#8594;</span> Istoric</a></li>
                    <li><a href="/despre#motivatie"><span class="sageata">&#8594;</span> Motivatie</a></li>
                    <li><a href="/despre#galerie"><span class="sageata">&#8594;</span> Galerie</a></li>
                </ul>
            </li>
            <li>
            <a href="/produse">Produse</a>
            <ul>
                <li><a href="/seturi"><span class="sageata">&#8594;</span>Seturi</a></li>
        </li>
            </ul>
            <li><a href="#">
                    <div>Contact</div>
                </a></li>
                <%- 
                include("submeniu-administrare.ejs") 
            %>
            <%- 
                include("submeniu-utilizator-logat.ejs") 
            %>
        </ul>
    </nav>